{% extends "model-page.html" %}

{% block content %}

<h2>Itens</h2>

<form action ="submit" method="POST">{% csrf_token %}
    <label>Item</label>
    <br>
    <input type="text" name ="item" size="23">
    <br>
    <label>Data do Aluguel: </label>
    <br>
    <input type = "datetime-local" name = "data_aluguel">
    <br>
    <label>Descrição:</label>
    <br>
    <textarea name = "descricao" rows="5" cols="23"></textarea>
    <br><br>
    <button type = "submit">Salvar</button>
    <a href="/">
        <button type="submit">Cancelar</button>
    </a>
</form>
{% endblock %}